language: csharp
services:
  - docker
mono: none
dotnet: 1.1.2
dist: trusty
branches:  
  only:
    - imageValidator
before_install:
 - tag_name=$IMAGE_TAG
 - if [ -z "$IMAGE_TAG" ]; then tag_name='latest'; fi
 - docker pull litichevskiydv/mssql-linux-ex:$tag_name
 - docker run -p 1433:1433 -e 'SA_PASSWORD=k179%HC_D5A' -e 'ACCEPT_EULA=Y' -d litichevskiydv/mssql-linux-ex:$tag_name
script:
 - set -e
 - dotnet restore "src\ImageValidator" --no-dependencies
 - dotnet run --project "src\ImageValidator\ImageValidator.csproj"